{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Logowanie</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="Zaloguj" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

</div>
<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Zapomniane hasło? <a href="{% url 'auth_password_reset' %}">Zresetuj</a>!</p>
<p>Nie jesteś użytkownikem? <a href="{% url 'registration_register' %}">Rejestracja</a>!</p>
</div>
</div>

{% endblock %}
