{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p class='text-align-center lead'>Wylogowano.</p><p class='text-align-center lead'><a href="{% url 'auth_login' %}">Zaloguj</a></p></p>
{% endblock %}
