{% load i18n %}
<div class="controls col-md-9">
<div class="row limit" xmlns="http://www.w3.org/1999/html">
    <div class="col-sm-8">
    <div class="row">
        <div class="col-sm-8">
           <span><input id="uploadFile" class="imagethumbnailfileinput form-control" placeholder="Choose File" disabled="disabled" /></span>
        </div>
        <div class="col-sm-4">
            <div class="fileUpload btn btn-primary">
                <span>{% trans "Upload" %}</span>
                <input type="{{ type }}" name="{{ name }}"{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}/>
            </div>
        </div>
    </div>






    </div>

    <div class="col-sm-4">
        {% if value.url %}<b>{% trans "Currently:" %}</b><a target="_blank" href="{{ value.url }}"><img style=" max-height: 200px;" class="img-responsive img-thumbnail img img-rounded" src="{{ value.url }}" alt="{{ value }}" height="10"/></a>
        {% if not required %}
        <p><input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}">
        <label for="{{ checkbox_id }}">{% trans "Clear" %}</label></p>
            {% else %}<br/>
        {% endif %}
        <!--{% trans "Change:" %}-->
        {% endif %}
    </div>

</div>

</div>