{% load staticfiles %}
{% load cookielaw_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>


    {% include "head_meta.html" %}

    <title>{% block title %}Wielomed{% endblock %}</title>
    {% include "head_css.html" %}

    <!-- cookie law  -->
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    <style>

        {% block style %}

        {% endblock %}

    </style>

</head>
<!-- NAVBAR
================================================== -->
<body>
{% include "navbar.html" %}

<!-- Carousel
================================================== -->

{% block carusel %}{% endblock %}

<div class="container" style="margin-top: 100px">

    {% cookielaw_banner %}
    {% block content %}

    {% endblock %}

</div>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->

    <!--
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>

    </div>
    -->


    <!-- START THE FEATURETTES -->

    {% block features %}

    {% endblock %}


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Na górę</a></p>
        <!--<p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
    </footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaSc
<div class="col-md-12"></div>ript
================================================== -->
<script>

</script>
{% include "javascript.html" %}

{% block js %}

{% endblock %}

</body>
</html>
