{% extends "base.html" %}
{% load i18n %}

<style>
    {% block style %}

        html { height: 100% }
    body { height: 100% }


.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container .map-container,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    {% endblock %}

</style>
{% block content %}
<script src="https://maps.googleapis.com/maps/api/js"></script>


 <script>

      function init_map_Wieloglowy() {
		var var_location = new google.maps.LatLng(49.671750, 20.691112);

        var var_mapoptions = {
          center: var_location,
          zoom: 14
        };

		var var_marker = new google.maps.Marker({
			position: var_location,
            map: var_map,
			title:"asd"});

        var var_map = new google.maps.Map(document.getElementById("map-container-Wieloglowy"),
            var_mapoptions);

		var_marker.setMap(var_map);




      }



      google.maps.event.addDomListener(window, 'load', init_map_Wieloglowy);

    </script>
   <div class="row">
      <div id="map-outer" class="col-sm-12">
          <div id="address_Wieloglowy" class="col-sm-4">
            <h2>Przychodnia Wielogłowy</h2>
            <address>
            <strong>Niepubliczny Zakład Opieki Zdrowotnej WIELOMED</strong><br>
                ul. Wielogłowy, 45<br>
                33-311 Wielogłowy<br>
                <abbr>Nr tel:</abbr> +48 18 443 25 10
           </address>
          </div> <!-- /adress -->
       <div class="Flexible-container">
            <div class="map-container" id="map-container-Wieloglowy"></div>
       </div><!-- /Flexible-container -->
      </div> <!-- /map-outer -->
    </div> <!-- /row -->

<hr>

 <script>

      function init_map_Iwkowa() {
		var var_location = new google.maps.LatLng(49.797251, 20.596938);

        var var_mapoptions = {
          center: var_location,
          zoom: 14
        };

		var var_marker = new google.maps.Marker({
			position: var_location,
            map: var_map,
			title:"Venice"});

        var var_map = new google.maps.Map(document.getElementById("map-container-Iwkowa"),
            var_mapoptions);

		var_marker.setMap(var_map);

      }



      google.maps.event.addDomListener(window, 'load', init_map_Iwkowa);

    </script>
     <div class="row">
      <div id="map-outer" class="col-sm-12">
          <div id="address_Iwkowa" class="col-sm-4">
            <h2>Przychodnia Porąbka Iwkowska</h2>
            <address>
            <strong>Niepubliczny Zakład Opieki Zdrowotnej WIELOMED</strong><br>
                ul. Porąbka Iwkowska 109<br>
                Porąbka iwkowska 32-862<br>
                <abbr>Nr tel:</abbr> +48 14 684 42 15
           </address>
          </div> <!-- /adress -->
       <div class="Flexible-container">
            <div class="map-container" id="map-container-Iwkowa"></div>
       </div><!-- /Flexible-container -->
      </div> <!-- /map-outer -->
    </div> <!-- /row -->

    <hr>
{% endblock %}