{% extends 'base.html' %}
{% load staticfiles %}
{#{% load template_extras %}#}
{% block title %}
    {{ block.super }} | Badania
{% endblock %}
<style>
    {% block style %}

    {% endblock %}
</style>

{% block features %}

    <div id="tab" class="row">
    <div class="table">
        <table class="table table-hover ">
            <tbody>
            <thead>
            <tr>
                <th class="col-md-1 col-xs-1">Nazwa badania</th>
                <th class="col-md-1 col-xs-1">Kod ICD</th>
                <th class="col-md-1 col-xs-1">Symbol</th>
                <th class="col-md-1 col-xs-1">Materiał</th>
                <th class="col-md-1 col-xs-1">Czas oczekiwania</th>
                <th class="col-md-1 col-xs-1">Cena</th>
                <th class="col-md-1 col-xs-1">Uwagi</th>
            </tr>
            </thead>
            {% for dl in diag_list %}
                <tr>
                    <td id="typ-{{ dl.diag_group.id }}" colspan="7" class="info">{{ dl.diag_group}}</td>
                </tr>
                {% for d in dl.diag %}
                    <tr>
                        <td class="col-md-1 col-xs-2">{{ d.title }}</td>
                        <td class="col-md-1">
                            {% ifnotequal d.icd None %}
                            {{ d.icd }}
                            {% endifnotequal %}
                        </td>
                        <td class="col-md-1">{{ d.symbol }}</td>
                        <td class="col-md-1">
                            {% ifnotequal d.material None %}
                            {{ d.material }}
                            {% endifnotequal %}
                        </td>
                        <td class="col-md-1">{{ d.wait_time }} dni</td>
                        <td class="col-md-1">{{ d.price|floatformat }} zł</td>
                        <td class="col-md-1">
                            {% ifnotequal d.adnotation None %}
                            {{ d.adnotation }}
                            {% endifnotequal %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}
