{% extends 'base.html' %}
{% load staticfiles %}
{#{% load template_extras %}#}
{% block title %}
    {{ block.super }} | Dyżury
{% endblock %}
<style xmlns="http://www.w3.org/1999/html">
    {% block style %}
        i.fa {
        font-size:18px;
        }
        .fa.fa-hospital-o {
        color: #436d9a;
        }
        .fa.fa-home {
        color: #0caf00;
        }

    {% endblock %}
</style>

{% block features %}
    <div class="row">
        <div class="list-group">
            <a id="W-href" onclick="setDates('W')" class="list-group-item active col-md-2" style="cursor:pointer"><h4
                    class="list-group-item-heading">
                Wielogłowy</h4></a>
            <a id="I-href" onclick="setDates('I')" class="list-group-item col-md-2" style="cursor:pointer"><h4 class="list-group-item-heading">
                Porąbka Iwkowska</h4></a>
        </div>
    </div>
    <div id="W-tab" class="row">
        <table class="table table-hover ">
            <tbody>
            <thead>
            <tr>
                <th class="col-md-1 col-xs-2">Dzień</th>
                <th class="col-md-1 col-xs-1">Godziny</th>
                <th class="col-md-2 col-xs-1">Wizyta</th>
                <th class="col-md-2 col-xs-2">Uwagi</th>
            </tr>
            </thead>
            {% for dd in doctors_datest_W %}
                <tr class="info">
                    <td colspan="2">{{ dd.doctor }}</td>
                    <td colspan="3">{{ dd.doctor.extras }}</td>
                </tr>
                {% if dd.doctor.urlop %}
                <tr class="warning">
                    <td colspan="2" >Urlop</td>
                    <td colspan="1" ><i class="fa fa-plane" aria-hidden="true"></i>
Od {{ dd.doctor.urlop_start|date }} </td>
                    <td colspan="2" >Do {{ dd.doctor.urlop_end|date }}</td>
                </tr>

                {% else %}

                {% for date in dd.dates %}
                    <tr>
                        <td class="col-md-1 col-xs-2">{{ date.get_weekdays_display }}</td>
                        <td class="col-md-1">{{ date.start_time|time:"H:i" }}-{{ date.stop_time|time:"H:i" }}</td>
                        <td class="col-md-2">
                            {% ifequal date.wizyta "D" %}
                                <i class="fa fa-home" aria-hidden="true"></i>

                            {% else %}

                                <i class="fa fa-hospital-o" aria-hidden="true"></i>

                            {% endifequal %}
                            {{ date.get_wizyta_display }}
                        </td>
                        <td class="col-md-2">{{ date.extras }}</td>
                    </tr>

                {% endfor %}
                {% endif %}

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="I-tab" style="display: none;" class="row">
        <table class="table table-hover ">
            <tbody>
            <thead>
            <tr>
                <th class="col-md-1 col-xs-2">Dzień</th>
                <th class="col-md-1 col-xs-1">Godziny</th>
                <th class="col-md-2 col-xs-1">Wizyta</th>
                <th class="col-md-2 col-xs-2">Uwagi</th>
            </tr>
            </thead>
            {% for dd in doctors_datest_I %}
                <tr>
                    <td colspan="5" class="info">{{ dd.doctor }}</td>
                </tr>
                {% for date in dd.dates %}
                    <tr>
                        <td class="col-md-1 col-xs-2">{{ date.get_weekdays_display }}</td>
                        <td class="col-md-1">{{ date.start_time|time:"H:i" }}-{{ date.stop_time|time:"H:i" }}</td>
                        <td class="col-md-2">
                            {% ifequal date.wizyta "D" %}
                                <i class="fa fa-home" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            {% endifequal %}
                            {{ date.get_wizyta_display }}
                        </td>
                        <td class="col-md-2">{{ date.extras }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}

            </tbody>
        </table>
    </div>



    <!-- /END THE FEATURETTES -->
{% endblock %}
{% block js %}

    <script>
        function setDates(name) {
            if (name === "I") {
                var no_name = "W";
            } else {

                var no_name = "I";
            }
            console.log(name.concat("-href"));
            console.log(no_name.concat("-href"));

            document.getElementById(name.concat("-href")).classList.add('active');
            document.getElementById(no_name.concat("-href")).classList.remove('active');
            document.getElementById(name.concat("-tab")).style.display = "block";
            document.getElementById(no_name.concat("-tab")).style.display = "none";

        }

    </script>
{% endblock %}
document.getElementById(name.concat("-href")).className += "active";
document.getElementById("MyElement").className = document.getElementById("MyElement").className.replace( /(?:^|\s)MyClass(?!\S)/g , '' )
document.getElementById(no_name.concat("-tab")').style.display='none'
