{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}



    {% if messages %}
        {% for message in messages %}
            <h1 class="text-primary">{{ message }}</h1></<br>
        {% endfor %}
    {% endif %}
    <form method="POST" class="post-form form-group" > {% csrf_token %}


    {{ sickness_formset.management_form }}
    {% for sickness_form in sickness_formset %}

        <div class="sickness-formset" >
            {{ sickness_form.sickness|add_class:"form-control"}}
{#            {{ sickness_form.sickness }}#}
            {% if sickness_form.sickness.errors %}
                {% for error in sickness_form.sickness.errors %}
                    <p class="bg-warning">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            Powiadominie sms:{{ sickness_form.sms_info }}
            {% if sickness_form.sms_info.errors %}
                {% for error in sickness_form.sms_info.errors %}
                    <p class="bg-warning">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            Powiadominie mail:{{ sickness_form.mail_info }}
            {% if sickness_form.mail_info.errors %}
                {% for error in sickness_form.mail_info.errors %}
                    <p class="bg-warning">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

        </div>

    {% endfor %}

    {% if sickness_formset.non_form_errors %}
        {% for error in sickness_formset.non_form_errors %}
                    <p class="text-danger text-center">{{ error|escape }}</p>
        {% endfor %}

    {% endif %}
        </br>
        <input type="submit" value="Update Profile" class="btn btn-primary"></input>
    </form>


 <!-- Include formset plugin - including jQuery dependency -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.sickness-formset').formset({
            addText: ' <button class="btn btn-success pull-right"><i class="fa fa-plus"></i> Dodaj</button>',
            deleteText: '  <button class="btn btn-danger pull-right"> <i class="fa fa-trash-o fa-lg"></i> Usuń</button> <hr>'
        });
    </script>

{% endblock %}
