{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{#{% load template_extras %}#}
{% block title %}
    {{ block.super }} | Badania
{% endblock %}
<style>
    {% block style %}

    {% endblock %}
</style>

{% block features %}

    <form method="GET" id="findForm" class="post-form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            {{ form|crispy }}
        </div>
        <div class="col-md-2">
            <button class="btn" onclick="findForm()">Szukaj</button>
        </div>
    </div>
    {{ diags|length  }}
    {% ifequal diags -1 %}
           <div class="row">
           Brak wyników
        </div>
{% else %}

    {% if diags %}

    <div id="tab" class="row">
        <div class="table">
            <table class="table table-hover ">
                <tbody>
                <thead>
                <tr>
                    <th class="col-md-1 col-xs-1">Nazwa badania</th>
                    <th class="col-md-1 col-xs-1">Kod ICD</th>
                    <th class="col-md-1 col-xs-1">Symbol</th>
                    <th class="col-md-1 col-xs-1">Materiał</th>
                    <th class="col-md-1 col-xs-1">Czas oczekiwania</th>
                    <th class="col-md-1 col-xs-1">Cena</th>
                    <th class="col-md-1 col-xs-1">Uwagi</th>
                </tr>
                </thead>
                {% for d in diags %}
                    {#                <tr>#}
                    {#                    <td id="typ-{{ dl.diag_group.id }}" colspan="7" class="info">{{ dl.diag_group}}</td>#}
                    {#                </tr>#}
                    <tr>
                        <td class="col-md-1 col-xs-2">{{ d.title }}</td>
                        <td class="col-md-1">
                            {% ifnotequal d.icd None %}
                                {{ d.icd }}
                            {% endifnotequal %}
                        </td>
                        <td class="col-md-1">{{ d.symbol }}</td>
                        <td class="col-md-1">
                            {% ifnotequal d.material None %}
                                {{ d.material }}
                            {% endifnotequal %}
                        </td>
                        <td class="col-md-1">{{ d.wait_time }} dni</td>
                        <td class="col-md-1">{{ d.price|floatformat }} zł</td>
                        <td class="col-md-1">
                            {% ifnotequal d.adnotation None %}
                                {{ d.adnotation }}
                            {% endifnotequal %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endif %}

    {% endifequal %}

    <div id="tab" class="row">
        <div class="table">
            <table class="table table-hover ">
                <tbody>
                <thead>
                <tr>
                    <th class="col-md-10 col-xs-18">Nazwa badania</th>
                </tr>
                </thead>
                {% for dl in diag_groups %}
                    <tr>
                        <td id="typ-{{ dl.id }}" class="info"><a
                                href="{% url 'diagnostics_detail' dl.id %}">{{ dl }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block script %}


    <script>
    function findForm()
    {
        var fo = document.getElementById("findForm");
         if (fo.checkValidity() == true)
         {
            fo.submit();
         }

    }
    </script>

{% endblock %}