{% extends 'base.html' %}
{% load staticfiles %}
{#{% load template_extras %}#}
{% block title %}
    {{ block.super }} | Główna
{% endblock %}
<style>
    {% block style %}

    {% endblock %}
</style>
{% block carusel %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for carousel in carousels %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner" role="listbox">
            {% for carousel in carousels %}

                <div class="item {% if forloop.counter  == 1 %}active{% endif %}">

                    <img class="{{ forloop.counter }}-slide" src="{{ carousel.image.url }}"
                         alt="{{ forloop.counter }} slide">
                    <div class="container">

                            {% if carousel.link == 'U' %}
                        <a href="{{ carousel.url }}">


                            {% elif carousel.link == 'N' %}
                        <a href="{% url 'news' carousel.news.id %}">

                            {% else %}
                            {% endif %}
                        <div class="carousel-caption">
                            <h1>{{ carousel.title }}</h1>
                            <h2 style="color: red">{{ carousel.link }}</h2>
                        </div>
                            {% if carousel.link != 'B' %}
                            </a>
                            {% endif %}

                        <div>
                            <p>
                                {{ carousel.subtitle }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->

{% endblock %}


{% block features %}
    {% for ne in news %}
        <div class="row featurette">
            <div class="col-md-7 {% if forloop.counter|divisibleby:2 %}col-md-push-5{% endif %}">
                <h2 class="featurette-heading">
                    <div class="news_title">{{ ne.title }}</div> {% if ne.subtitle %}
                    <span class="text-muted"><br>{{ ne.subtitle }}</span>
                {% endif %}</h2>
                <p class="lead">{{ ne.text|truncatewords:50 }}</p>
                <a href=" {% url 'news' ne.id %} ">
                    <button id="btn_{{ ne.id }}" type="button" class="btn btn-primary pull-right news_more_btn">Więcej
                    </button>
                </a>
            </div>
            <div class="col-md-5  {% if forloop.counter|divisibleby:2 %}col-md-pull-7{% endif %}">
                <a href=" {% url 'news' ne.id %} "><img class="featurette-image img-responsive center-block img-rounded"
                                                        src="
                                                                {% if ne.image %}{{ ne.image.url }}{% else %}{% static 'img/news_standard_img.jpg' %}{% endif %}"
                                                        alt="Generic placeholder image"></a>
            </div>
        </div>
        <hr class="featurette-divider">
    {% empty %}
        <div class="row featurette"><h2>Brak news-ów do wyświetlenia</h2></div>
        <hr class="featurette-divider">
    {% endfor %}

    <!-- /END THE FEATURETTES -->
{% endblock %}
