{% extends 'base.html' %}
{% load staticfiles %}
{#{% load template_extras %}#}
{% block title %}
    {{ block.super }} | Linki
{% endblock %}
<style>
    {% block style %}

    {% endblock %}
</style>

{% block features %}
    {% for link in links %}
     <div  class="row">
    <div class="col-md-5"><a href="{{ link.url }}"><h4>{{ link.title }}</h4></a></div>
    </div>
    {% empty %}
     <div  class="row">
    <div class="col-md-5"><h4>Chwilowy brak linków zapraszamy wktótce!</h4></div>
    </div>
    {% endfor %}


{% endblock %}
