{% load staticfiles %}
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="ic `on-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img height="40px"
                                                                         src="{% static 'img/logo.png' %}"/>
                        <!-- Wielomed--></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li {% if request.path == '/' %}class="active"{% endif %}><a href="{% url 'home' %}">Główna</a>
                        </li>
                        <li><a href="#about">O nas</a></li>
                        <li {% if request.path == '/contact/' %}class="active"{% endif %}><a href="{% url 'contact' %}">Kontakt</a>
                        </li>
                        <li {% if request.path == '/schedule/' %}class="active"{% endif %}><a href="{% url 'doctors_dates' %}">Dyżury lekarzy</a>
                        </li>
                        <li {% if request.path == '/diagnostics_list/' %}class="active"{% endif %}><a href="{% url 'diagnostics_list' %}">Oferta badań</a>
                        </li>
                        <li {% if request.path == '/links/' %}class="active"{% endif %}><a href="{% url 'links' %}">Ciekawe linki</a>
                        </li>
                        {% if request.user.is_authenticated %}

                            <li class="dropdown{% if '/pref/' == request.path or '/sick/' == request.path %} active{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Ustawienia <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'pref' %}">Dane osobowe</a></li>
                                    <li><a href="{% url 'sick' %}">Dane chorobowe</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% for link in head_links %}
                            <li>
                                <a href="{{ link.url }}"> {{ link.title }}</a>
                        </li>

                        {% endfor %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'auth_logout' %}">
                                <button type="submit" class="btn btn-default">Wyloguj: {{ user }} </button>
                            </a></li>

                        {% endif %}
                        {% if request.user.is_authenticated and request.user.is_staff %}


                            <li class=""><a href="{% url 'news_list' %}">
                                <button type="submit" class="btn btn-default">Newsy</button>
                                <span class="sr-only">(current)</span></a></li>
                        {% endif %}

                        {% if request.user.is_authenticated and request.user.is_staff %}

                            <!--<li class=""><a href=" {% url 'auth_login' %}">Login<span class="sr-only">(current)</span></a></li>-->
                            <li class=""><a href="/admin">
                                <button type="submit" class="btn btn-default">Rejestracja</button>
                                <span class="sr-only">(current)</span></a></li>
                        {% endif %}

                        {% if not request.user.is_authenticated and not 'accounts/log' in request.get_full_path %}





                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <button type="submit" class="btn btn-default">Logowanie <span class="caret"></span>
                                    </button>
                                </a>
                                <ul class="dropdown-menu">
                                    <form class="form" method="POST" action="{% url 'auth_login' %}"> {% csrf_token %}

                                        <li><input class="form-control" type="text" name="username"
                                                   placeholder="Username"/></li>
                                        <li>
                                            <input class="form-control" type="password" name="password"
                                                   placeholder="Password"/></li>
                                        <li>
                                            <button type="submit" class="btn btn-default btn-lg btn-block">Login
                                            </button>
                                        </li>
                                    </form>

                                </ul>
                            </li>


                            <!--/ul-->
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>
