{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{#{% load template_extras %}#}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} | Dodawanie newsa
{% endblock %}
<style>
    {% block style %}

 /* .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    line-height: normal;
}*/
.fileUpload input.imagethumbnailfileinput {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

    {% endblock %}
        img {
      max-width: 100%;
    }

</style>

  {% block content %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <form method="POST" id="addForm" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        {{ form|crispy }}
    </div>
    <hr>


    </form>
          <div class="row">
        <div class="col-xs-1 col-xs-offset-5">
            <button onclick="addForm()" class="save btn btn-default">{% if 'edit' in request.path %}Zmień{% else %}Dodaj{% endif %}</button>
        </div>

{#    <input type="{{ type }}" name="{{ name }}"{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}>#}
  {% endblock %}
{% block js %}

    <script>
    function addForm()
    {
        var fo = document.getElementById("addForm");
         if (fo.checkValidity() == true)
         {
            fo.submit();
         }

    }

    document.getElementById("id_image").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };

    </script>
{% endblock %}