{% extends 'base.html' %}
{% load staticfiles %}
{#{% load template_extras %}#}
{% block title %}
{{ block.super }} | {{ news.title }}
{% endblock %}
<style>
    {% block style %}

    {% endblock %}
</style>




{% block features %}

      <div class="row featurette">
        <div class="col-md-7 ">
        {% if request.user.is_staff %}
            <a href="{% url 'news_edit' news.id %}"><button id="zmien_btn" type="submit" class="btn btn-default">Zmień</button><span class="sr-only">(current)</span></a>
        {% endif %}
          <h2 class="featurette-heading"><div class="news_title">{{ news.title }}</div> {% if news.subtitle %}
           <span class="text-muted"><br>{{  news.subtitle }}</span>
          {% endif %}</h2>
          <p class="lead">{{ news.text }}</p>
        </div>
        <div class="col-md-5  ">
          <img class="featurette-image img-responsive center-block img-rounded" src="{% if news.image %}{{ news.image.url }}{% else %}{% static 'img/news_standard_img.jpg' %}{% endif %}"  alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}
