{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

    <table class="table table-hover ">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tytuł</th>
            <th>Data</th>
            <th>Wgląd</th>
            <th>Edycja</th>
            <th> <button class="btn btn-danger" onclick="ususwanie()">Usuń</button>
          </tr>
        </thead>
        <tbody>
            <tr><td colspan="6"><div class="row">
                <a href="{% url 'news_add' %}"><div class="col-xs-12">Dodawanie</div></a>
            </div></td></tr>
        <form id="deleteFrom" method="POST" class="post-form">{% csrf_token %}
        {% for ne in news_objects %}
            <tr>
                <td>{{ ne.id }}</td><td>{{ ne.title|truncatechars:30 }}</td><td>{{ ne.timestamp }}</td>
                <td><a href=" {% url 'news' ne.id %} "><button type="button" class="btn btn-primary pull-left" >Więcej</button></a></td>
                <td><a href=" {% url 'news_edit' ne.id %} "><button type="button" class="btn btn-default pull-left" >Zmień</button></a></td>
                <td><input type="checkbox" name="delete_box" value="{{ ne.id }}"></td>
            </tr>
        </form>

        {% endfor %}
        </tbody>
    </table>





{% endblock %}
{% block js %}
<script>
function ususwanie()
{
      if (window.confirm('Na pewno usunąć?'))
    {
        document.getElementById("deleteFrom").submit();
    }
}


</script>
{% endblock %}