{% extends 'base.html' %}
{% load staticfiles %}
{#{% load template_extras %}#}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }} | Edycha preferencji
{% endblock %}
<style>
    {% block style %}
    {% endblock %}
</style>

  {% block content %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        {{ cru }}
    <h1>Dane osobowe użytkownika {{ user.first_name }} {{ user.last_name }}</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ uform|crispy }}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">Zmień</button>
    </form>

  {% endblock %}